     </div>
    </div>
    <div class="clear"></div>
    <footer class="footer fixed-bottom bg-primary text-center text-white">
        <div>
            <p>Developed By NIRO IT SOLUTIONS</p>
        </div>
    </footer>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>