<%- include('partials/dashheader') %>

        <div class="centralize top-space" align="center">
            <a href="/admin/dashboard" class="btn btn-outline-primary">Admin Dashboard</a>
            <a href="/staffdashboard" class="btn btn-outline-primary">Staff Dashboard</a>
        </div>

<%- include('partials/dashFooter') %>