<%- include('partials/dashheader') %>

<div class="centralize w-100 mt-4" align="center">
    <div class="">
        <h4>Raise a New Ticket</h4>
    </div>
    <div class="form-wide">
    <form action="/createticket" method="POST" enctype="multipart/form-data">
        <div>
        <% if(message != '') { %>
            <div class="alert alert-success" role="alert">
        <%= message %>
        </div>
        <% } %>
        </div>

        <div class="form-group">
        <input type="text" class="form-control" name="fullname" placeholder="Full Name" required minlength="6">
        </div>
        <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email Address" required>
        </div>
         <div class="form-group">
        <input type="text" class="form-control" name="phone" placeholder="Phone Number (CUG Preferred)" required>
        </div>
        <div class="form-group">
        <select class="form-control" name="sbu" aria-placeholder="Location" required>
            <option value="" disabled selected>Select Location</option>
            <option value="hq">Kam HQ</option>
            <option value="jimba">KSI - Jimba</option>
            <option value="sagamu">KSI - Sagamu</option>
            <option value="haulage">Kam Haulage</option>
            <option value="dimkit-ganmo">Dimkit - Ganmo</option>
            <option value="dimkit-kaduna">Dimkit - Kaduna</option>
            <option value="kirikiri">Lagos Office</option>
        </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="department" aria-placeholder="Department" required>
                <option value="" disabled selected>Select Department</option>
                <option value="hr">HR</option>
                <option value="audit">Audit</option>
                <option value="supply chain">Supply Chain</option>
                <option value="admin/operation">Admin & Operations/Health/Security</option>
                <option value="account/finance">Account/Finance</option>
                <option value="production/stores">Production/Stores</option>
                <option value="it">IT</option>
            </select>
            </div>
        <div class="form-group">
        <select class="form-control" name="category" aria-placeholder="Select Category Of Complaint" required>
            <option value="" disabled selected>Select Category of Complaint</option>
            <option value="Printer Issue">Printer Issue</option>
            <option value="Network Related">Network Issue</option>
            <option value="Network/Password/Email">Login/Password/Email Issue</option>
            <option value="Software/applications">Software/Applications Issue</option>
            <option value="Hardware">Hardware Issue</option>
            <option value="Others">I'm Not Sure</option>
            <option value="Camera Issue">Camera Related Issue</option>
        </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="subject" placeholder="Simple Description of issue" required max="70">
            </div>
        <div class="form-group">
        <textarea class="form-control" name="description" rows="5" placeholder="Full Detail Of Complaint" required></textarea>
        </div>
        <div class="form-group">
            <label for="file">Attach Screenshot If Any</label>
        <input type="file" class="form-control" name="attachment">
        </div>
        <button type="submit" class="btn btn-outline-primary">Create Ticket</button>
    </form>
    </div>

</div>
<%- include('partials/dashFooter') %>
