<%- include('partials/dashheader') %>

        <div class="centralize top-space w-50" align="center">
            <a href="/createticket" class="btn btn-outline-primary">Raise a New Ticket</a>
            <a href="/tracktickets" class="btn btn-outline-primary">Track My Tickets</a>
        </div>

<%- include('partials/dashFooter') %>