<%- include('partials/dashheader') %>

    <!-- the beginning of the manual-->
    <div class="body">
      <div class="title-of-the-page">
         <h1 class="title"> HOW TO USE THE IT HELP DESK SYSTEM</h1>
      </div>
      <div class="step-1"> 
        <p>
          Step 1 : You would find the "IT HELP DESK" icon on your desktop, double click on it.
        </p>
        <img class="manual-image" src="img/1.png" alt="">
      </div>
        <br> <br>
      <div class="step-2">
       <div class="p1">
          <p>
            Step 2 : After clicking on the icon, it would open your browser (e.g. Mozilla Firefox, Google Chrome, Microsoft Edge and Internet explorer), 
            you would find two buttons (Raise New Ticket button and Track My ticket button) Click on the Raise New Ticket button.
          </p>
       </div>  
        <img class="manual-image" src="img/2.png" alt="">
      </div>
        <br><br>
      <div class="step-3">
        <p>
          Step 3 : Fill the form by providing all the informations required.
        </p>
        <img class="manual-image" src="img/3.png" alt="">
      </div>
        <br><br>
      <div class="step-4">
        <div class="p2">
          <p>
            Step 4 : After filling in the form as shown below in the image, click on select location and select your location amongst the options provided, 
            see the image below for better understanding.
          </p>
        </div>  
        <img class="manual-image" src="img/6.png" alt="">
      </div>
        <br><br>
      <div class="step-5">
        <p>
          Step 5 : Proceed to select your department as shown below.
        </p>
        <img class="manual-image" src="img/8.png" alt="">
      </div>
        <br><br>
      <div class="step-6">
        <p>
          Step 6 : Proceed to select the Category of your complaint as shown below.
        </p>
        <img class="manual-image" src="img/10.png" alt="">
      </div>
        <br><br>
      <div class="step-7">
        <p>
          Step 7 : Provide a Simple description of the issue you re experiencing.
        </p>
        <img class="manual-image" src="img/14.png" alt="">
      </div>
        <br><br>
        <div class="step-8">
          <p>
            Step 8 : Provide a full detailed description of the issue you are experiencing. 
          </p>
          <img class="manual-image" src="img/16.png" alt="">
        </div>
        <br><br>
        <div class="step-9">
          <div class="p3">
            <p>
              Step 9 : If you have a screenshot to futher explain your issue, 
              click on the Browse button to attach the screenshot if not click on the Create Ticket Button and your complaint would be generated and sent IT Department to be worked on. 
            </p>
          </div>  
          <img class="manual-image" src="img/17.png" alt="">
        </div>
    </div>    
  </body>
</html>

<%- include('partials/dashFooter') %>