<%- include('partials/dashheader') %>

        <div class="centralize top-space w-50" align="center">
           <p>You do not have access to view this page</p>
           <a href="/admin" class="btn btn-outline-primary">Login</a>
        </div>

<%- include('partials/dashFooter') %>