<%- include('partials/dashheader') %>

    <div class="wrapper">
        <div class="card">
            <div class="card-header">
                <p>My Tickets</p>
            </div>
            <div class="card-body">
                <a href="/stafftickets">All Tickets</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <p>Open Tickets</p>
            </div>
            <div class="card-body">
                <a href="/allstaff">Open Tickets</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <p>In Progress Tickets</p>
            </div>
            <div class="card-body">
                <a href="">All In Progress Tickets</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <p>Closed Tickets</p>
            </div>
            <div class="card-body">
                <a href="">All Closed Tickets</a>
            </div>
        </div>
        
    </div>

<%- include('partials/dashFooter') %>